@import url('https://fonts.googleapis.com/css2? family= Shadows+Into+Light+Two & display=swap');
*{
    font-family:'Shadows Into Light Two', cursive;

}
body{
    height: 100vh;
    width: 100vw;
    font-family:'Shadows Into Light Two', cursive;
    background-image: url(/Multimedia/hoja-papel.jfif);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Estilos footer*/
footer{
    display: flex;
    justify-content: center;
}

.container{
    margin: 0px auto;
    padding: 1em;
    height: 90vh;
    width: 90vw;
}

/*estilos del index*/
header .logoImg{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 120px;
    height: 48px;

}
header .logoImg img{
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}
.botonesHome{
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 0px auto;
    justify-content: center
}
.botonesHome .btnInicioJuego{
    width: 300px;
    height: 100px;
    margin: 0.5rem;
    background: #0A3871;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    color: aliceblue;
    font-weight: 400;
    font-size: 1.5rem;
}
.botonesHome .btnIngresarPalabra{   
    width: 240px;
    height: 70px;
    margin: 0.5rem;
    cursor: pointer;
    border: 1px solid #0A3871;
    border-radius: 60px;
    color: #0A3871;
    font-weight: 400;
    font-size: 1rem;
}

/*estilo pag IngresarPalabra*/
.texContenedor{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textoIng{
    width: 299px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;    
    line-height: 150%;
    border: none;
    background-color: transparent;
}
.textoIng:focus-visible{
    outline: none;
}
.btnContenedor{
    width: 100%;
    height: 5rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.btnGuardaPalabra{
    width: 300px;
    height: 70px;
    background: #0A3871;
    border-radius: 60px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.btnCancelar{
    width: 300px;
    height: 70px;
    border-radius: 60px;
    border-color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    cursor: pointer;
}
.infoContenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.5rem;
}
.infoContenedor span{
    color: #495057;
    opacity: 0.8;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;

}
/*Estilos pag InicioJuego*/

.canvasContenedor{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin: 0px auto;
}
.btnNuevJuego{
    width: 300px;
    height: 70px;
    background: #0A3871;
    border-radius: 60px;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   
}
.btnRendirse{
    width: 300px;
    height: 70px;
    margin: 0.5rem;
    cursor: pointer;
    border: 1px solid #0A3871;
    border-radius: 60px;
    color: #0A3871;
    font-weight: 400;
    font-size: 1rem;
}